default:
    suites:
        default:
            contexts:
                - App\Tests\Bdd\Context\DemoContext
            paths:
                features: tests/Bdd/Features

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
